@{
    ViewData["Title"] = "About";
}


<h2 class="col-md-12 text-center">About me</h2>
<img src="/images/headshot.png" class="col-md-4" style="height: 30%;"/>

<div class="col-md-8" style="height:30%;">
    <p>.</p><br />

    <br />
</div>

<div class="col-md-12">
    <p>this is my about me section</p>
</div>