@{
    ViewData["Title"] = "About";
}


<h2 class="col-md-12 text-center">About me</h2>
<img src="/images/headshot.png" class="col-md-4" style="height: 30%;"/>

<div class="col-md-8" style="height:30%;">
    <p>.</p><br />

    <br />
</div>

<div class="col-md-12">
    <p>I am mostly a self taught programmer that learned the .net framework with linkedin learning and pluralsight. The 
    that I enjoy about programming is mostly seeing code that runs and works the first try. I also like debugging
    and making sure that everything I code works the way it should. </p>
</div>